{% extends 'admin/layout.njk' %}
{% block content %}
<form action="/admin/chefs?_method=PUT" method="post">
<div class="edit">
    
    <div class="header">
        <h1>Editando dados do chef</h1>
        <div class="buttons">
        <button type="button"  id="button-delete" class="button delete check">Deletar</button>   
        <button type="submit"class="button check">Salvar Alterações</button> 
        </div>
        
        
    </div>
    <div class="form"> 
        {% include 'admin/chefs/fields.njk'%}
    </div>
    <input type="hidden" name="id" value="{{chef.id}}">
</div>
</form>
        <form action="/admin/chefs?_method=DELETE" method="post" class="form-remove" style="display:none;">
        <input type="hidden" name="id" value="{{chef.id}}">
        <button type="submit" class="button delete check">Deletar</button>   
        </form>
{% endblock content %}