<div class="item">
    <div class="title">Nome</div>
    <input type="text" name="name" value="{{chef.name}}">
</div>
<div class="item">
    <div class="title">Avatar</div>
        <div class="chef-img">
        <input 
        type="file"
        name="image"
        accept="image/*"
        onchange="PhotosUpload.handleFileInput(event)"
        >
        <p class="button">Enviar Avatar</p>
        </div>
</div>

