<div class="item">
    <div class="title">Nome</div>
    <input type="text" name="name" value="{{recipe.name}}">
</div>
<div class="item">
    <div class="title">Avatar</div>
    <input type="text" name="avatar_url" value="{{recipe.recipe_image}}">
</div>


