{% extends 'admin/layout.njk' %};
{% import 'parts/acessButtons.njk' as panel %}
{% block header %}
<title>Chefs</title>
<link rel="stylesheet" href="/styles/chefs.css">
{% endblock header %}
{% block content %}
<div class="content chefs">
{{ panel.acessButtons("Chefs", "Criar Novo Chef", user.is_admin, "chefs/create") }}
<div class="cards-chef admin">
    {% for chef in chefs %}
    
    <div class="card-chef">
        <div class="image">
            <img src="{{chef.img.src}}" alt="{{chef.name}}">
        </div>
        <div class="content-card">
            <div class="title">{{chef.name}}</div>
            <div class="link">
                <a href="/admin/chefs/{{chef.id}}">Visualizar</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock content %}