{% extends 'admin/layout.njk' %}
{% block header %}
<title>{{chef.name}}</title>
<link rel="stylesheet" href="../../../styles/chefs.css">
{% endblock header %}
{% block content %}
<div class="show">
    <div class="header">
        <h1>Chef: {{chef.name}}</h1>
        <a class="button" href="{{chef.id}}/edit">Editar Chef</a>
    </div>

    <div class="info chef">
        <div>
            <img src="{{chef.avatar_url}}" alt="{{chef.name}}">
            <h1>{{chef.name}}</h1>
            <p class="author">Quantidade de Receitas</p>
        </div>
        <div class="chef-info">
            <h2>Receitas</h2>
           
        </div>
        
    </div>

</div>
{% endblock content %}