{% extends 'admin/layout.njk' %} 
{% import 'parts/acessButtons.njk' as panel %}
{% block header %}
<title>{{ chef.name }}</title>
<link rel="stylesheet" href="/styles/chefs.css" />
{% endblock header %} 
{% block content %}
{% include "parts/message.njk" %}
<div class="show">
{{ panel.acessButtons("Chef: "+ chef.name, "Editar", user.is_admin, chef.id+"/edit") }}

  <div class="info chef">
    <div class="inf">
      <img class="profile" src="{{ chef.img.src }}" alt="{{ chef.name }}" />
      <h1>{{ chef.name }}</h1>
      <p class="author">{{ chef.qtd_recipes }} Receitas</p>
    </div>
    <div class="chef-info">
      <h2>Receitas</h2>
      <div class="cards-show">
        {% for recipe in recipes %}
        <div class="card">
          <div class="image">
            <img src="{{ recipe.img }}" alt="{{ recipe.name }}" />
          </div>
          <div class="content-card">
            <div class="title">{{ recipe.title }}</div>
            <div class="author">
              <p>por {{ chef.name }}</p>
            </div>
            <div class="link">
              <a href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
