<div class="item">
    <div class="title">Imagem da receita</div>
    <input type="text" name="recipe_image" value="">
</div>
<div class="item">
    <div class="title">Nome da receita</div>
    <input type="text" name="name" value="">
</div>
<div class="item">
    <div class="title">Autor receita</div>
    <input type="text" name="author" value="">
</div>
<div class="item">
    <div class="title">Ingredientes</div>
    <input type="text" name="ingredient" value="">
    <input type="text" name="ingredient" value="">
    <p id="addNewIngredient" class="add">Adicionar novo ingrediente</p>
</div>
<div class="item">
    <div class="title">Modo de prepararo</div>
    <input type="text" name="pass" value="">
    <input type="text" name="pass" value="">
    <p id="addNewPreparation" class="add">Adicionar novo passo</p>
</div>

<div class="item">
    <div class="title">Modo de prepararo</div>
    
    <textarea name="additional" cols="30" rows="10" class="big input"></textarea>
</div>