<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block header %}
    <title>Admin foodfy</title>
    {% endblock header %}
    <link rel="stylesheet" href="../../styles/admin.css">
</head>
<body>
    <header>
        <div class="logo admin">
            <a href="/admin">
            <img src="../../assets/logowhite.png" alt="logo">
            </a>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>