{% extends 'admin/layout.njk' %}

{% block content %}
<div class="show">
    <div class="header">
        <h1>Receita: Triplo Bacon Burguer</h1>
        <a class="button" href="1/edit">Editar Receita</a>
    </div>

    <div class="info">
        <div>
            <img src="../assets/pizza.png" alt="receita">
            <h1>Triplo Bacon Burguer</h1>
            <p class="author">por Joger Relato</p>
        </div>
        <div class="recipe-info">
            <h2>Ingredientes</h2>
            <ul>
                <li>
                    -  3 kg de carne moída (escolha uma carne magra e macia);
                </li>
                <li>
                    -  1 ovo;
                </li>
                <li>
                    -  300 g de bacon moído;
                </li>
                <li>
                    -  3 colheres (sopa) de farinha de trigo;
                </li>
                <li>
                    -  3 colheres (sopa) de tempero caseiro: feito com alho, sal, cebola, pimenta e cheiro verde processados no liquidificador;
                </li>
            </ul>
        </div>
        <div class="recipe-info">
            <h2>Modo de preparo</h2>
            <ul>
                <li>
                    -  3 kg de carne moída (escolha uma carne magra e macia);
                </li>
                <li>
                    -  1 ovo;
                </li>
                <li>
                    -  300 g de bacon moído;
                </li>
                <li>
                    -  3 colheres (sopa) de farinha de trigo;
                </li>
                <li>
                    -  3 colheres (sopa) de tempero caseiro: feito com alho, sal, cebola, pimenta e cheiro verde processados no liquidificador;
                </li>
            </ul>
        </div>
        <div class="recipe-info">
            <h2>Informações adicionais</h2>
            <p>
                Preaqueça a chapa, frigideira ou grelha por 10 minutos antes de levar os hambúrgueres. Adicione um pouquinho de óleo ou manteiga e não amasse os hambúrgueres!

Você sabia que a receita que precede o hambúrguer surgiu no século XIII, na Europa? A ideia de moer a carne chegou em Hamburgo no século XVII, onde um açogueiro resolveu também temperá-la. Assim, a receita foi disseminada nos Estados Unidos por alemães da região. Lá surgiu a ideia de colocar o hambúrguer no meio do pão e adicionar outros ingredientes, como queijom tomates e alface.
            </p>
        </div>
    </div>

</div>
{% endblock content %}