{% extends 'admin/layout.njk' %}

{% block content %}
<div class="show">
    <div class="header">
        <h1>Receita: {{recipe.name}}</h1>
        <a class="button" href="{{recipe.id}}/edit">Editar Receita</a>
    </div>

    <div class="info">
        <div>
            <img src="{{recipe.recipe_image}}" alt="{{recipe.name}}">
            <h1>{{recipe.name}}</h1>
            <p class="author">por {{recipe.author}}</p>
        </div>
        <div class="recipe-info">
            <h2>Ingredientes</h2>
            <ul>
                {% for ingredient in recipe.ingredient %}
                <li>- {{ingredient}}</li>
                {% endfor %}
                
            </ul>
        </div>
        <div class="recipe-info">
            <h2>Modo de preparo</h2>
            <ul>
               {% for pass in recipe.pass %}
               <li>
                {{pass}}
                </li>
               {% endfor %}
                
               
            </ul>
        </div>
        <div class="recipe-info">
            <h2>Informações adicionais</h2>
            <p>{{recipe.additional}}</p>
        </div>
    </div>

</div>
{% endblock content %}