<div class="items">
<div class="item">
    <div class="title">Nome</div>
    <input type="text" name="name" value="{{user.name}}" placeholder="Digite o nome completo">
</div>
<div class="item">
    <div class="title">Email</div>
    <input type="email" name="email" value="{{user.email}}" placeholder="Digite o email">
</div>
</div>
<div class="item input-checkbox">
    <input 
    type="checkbox" 
    name="is_admin"
    {% if user.is_admin == true %}
    checked
    value="true" 
    {%else%}
    value="false" 
    {% endif %}
    ><p class="title">Administrador</p>
</div>
{% if notDisplayPassword == false %}
<div class="item half">
    <div class="title">Senha</div>
    <input type="password" name="password" placeholder="Digite a senha">
</div>
{% endif %}

