{% extends 'admin/layout.njk' %};
{%  import "parts/acessButtons.njk" as panel %}
{% block header %}
<title>Usuários</title>
<link rel="stylesheet" href="/styles/users.css">
{% endblock header %}
{% block content %}
<div class="content users">
{{ panel.acessButtons("Usuários", "Novo", userLogged.is_admin) }}
<div class="cards-user admin">
    
    
    <div class="card-user list">
    {% for user in users %}
        <div class="content-card">
            <div class="title">{{user.name}}</div>
            <div class="sub-title">{{user.email}}</div>
            <div class="buttons">
                <a href="/admin/users/{{user.id}}/edit">Editar</a>
                <form action="/admin/users?_method=DELETE" method="post" onsubmit="confirmDelete()" >
                <button type="submit" class="outline-link">Remover</button>   
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    
</div>
</div>
{% endblock content %}