{% extends 'admin/layout.njk' %};
{% block header %}
<title>Usuários</title>
<link rel="stylesheet" href="../../../styles/users.css">
{% endblock header %}
{% block content %}
<div class="content users">
<div class="header flex">
        <h1>Usuários</h1>
        <a class="button h-40" href="users/create">Novo</a>
    </div>
<div class="cards-user admin">
    {# {% for user in users %} #}
    
    <div class="card-user">
        <div class="image">
            
        </div>
        <div class="content-card">
            <div class="title">André Torquato Silva</div>
            <div class="sub-title">andre@torquato.br</div>
            {# <div class="title">{{user.name}}</div> #}
            <div class="buttons">
                <a href="/admin/users/{{user.id}}/edit">Editar</a>
                <form action="/admin/users?_method=DELETE" method="post" onsubmit="confirmDelete()" >
                <button type="submit" class="button delete check">Remover</button>   
                </form>
            </div>
        </div>
    </div>
    {# {% endfor %} #}
</div>
</div>
{% endblock content %}