{% extends 'admin/layout.njk' %};
{%  import "parts/acessButtons.njk" as panel %}
{% block header %}
<title>Usuários</title>
<link rel="stylesheet" href="/styles/users.css">
{% endblock header %}
{% block content %}
{%  include "parts/message.njk" %}
<div class="content users">
{{ panel.acessButtons("Usuários", "Novo", userLogged.is_admin, "users/create") }}
<div class="cards-user admin">
    <div class="card-user list">
    {% for user in users %}
        <div class="content-card">
            <div class="title">{{user.name}}</div>
            <div class="sub-title">{{user.email}}</div>
            <div class="buttons">
                <a href="/admin/users/{{user.id}}/edit">Editar</a>
                {% if userLogged.is_admin == true %}
                <form action="/admin/users?_method=DELETE" method="post" onsubmit="confirmDelete()">
                <button type="submit" class="outline-link">Remover</button>   
                <input type="hidden" name="id" value="{{user.id}}"> 
                </form>
                {% else %}
                <span></span>
                {% endif %}
                
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock content %}