{% extends 'home/layout.njk' %}
{% block head %}
<title>Chefs</title>
<link rel="stylesheet" href="/styles/chefs.css">
{% endblock head %}
{% block content %}
<div class="cards-chef">
    {% for chef in chefs %}
    
    <div class="card-chef">
        <div class="image">
            <img src="{{chef.img.src}}" alt="{{chef.name}}">
        </div>
        <div class="content-card">
            <div class="title">{{chef.name}}</div>
            <div class="qtd-recipes">
                <p>{{chef.qtd_recipes}} Receitas</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}