{% extends 'home/layout.njk' %}
{% import "parts/gallery.njk" as view %}}       
        {% block head %}
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="../styles/recipe.css">
        {% endblock head %}
    {% block content %}

    <div class="container">
        <header>
           {{ view.gallery(item, files, chefs) }}
        </header>
        <main>
            <div class="rows">
            <div class="row">
                <div class="column">
                    <h1>Ingredientes</h1>
                    <p class="button">ESCONDER</p>
                </div>
                
                <div class="display">
                <ul>
                    {% for ingredient in item.ingredients%}
                         <li>{{ingredient}}</li>
                    {% endfor %}
                   
                </ul>
                </div>
            <div class="row">
                <div class="column">
                    <h1>Modo de preparo</h1>
                    <p class="button">ESCONDER</p>
                </div>
                
                <div class="display">

                {% for preparation in item.preparations %}
                <p>{{preparation}}<br></p>
                {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="column">
                <h1>Informações adicionais</h1>
                <p class="button">ESCONDER</p>
                </div>
                <div class="display">
                <p>{{item.information}}</p>
                </div>
            </div>
            </div>
           
        </main>
         <script src="../scripts.js"></script>
    {% endblock content %}