{% extends 'layout.njk' %}       
       
        {% block head %}
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="../styles/recipe.css">
        {% endblock head %}
    {% block content %}

    <div class="container">
        <header>
                 <div class="content_recipe">
                        <div class="image_recipe">
                            <img src="{{item.image}}" alt="{{item.title}}">
                        </div>
                        <div class="info_content">
                            <p class="info_title">{{item.title}}</p>
                            <p class="sub_title">{{item.author}}</p>
                        </div>
                    </div>

        </header>
        <main>
            <div class="rows">
            <div class="row">
                <div class="column">
                    <h1>Ingredientes</h1>
                    <p class="button">ESCONDER</p>
                </div>
                
                <div class="display">
                <ul>
                    {% for ingredient in item.ingredients%}
                         <li>{{ingredient}}</li>
                    {% endfor %}
                   
                </ul>
                </div>
            <div class="row">
                <div class="column">
                    <h1>Modo de preparo</h1>
                    <p class="button">ESCONDER</p>
                </div>
                
                <div class="display">

                {% for preparation in item.preparation %}
                <p>{{preparation}}<br></p>
                {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="column">
                <h1>Informações adicionais</h1>
                <p class="button">ESCONDER</p>
                </div>
                <div class="display">
                <p>{{item.information}}</p>
                </div>
            </div>
            </div>
           
        </main>
         <script src="../scripts.js"></script>
    {% endblock content %}