{% extends 'users/layout.njk' %} 
{% block head %}
<title>Home</title>
<link rel="stylesheet" type="text/css" href="../styles/index.css" />
{% endblock head %}

{% block content %}
<div class="container">
  <header>
    <div class="banner">
      <div class="text-banner">
        <h3>
          <strong>As melhores receitas</strong>
        </h3>
        <p>
          Aprenda a construir os melhores pratos com receitas criadas por
          profissionais do mundo inteiro.
        </p>
      </div>
      <div class="image-banner">
        <img src="./assets/chef.png" alt="chef" />
      </div>
    </div>
  </header>

  <main>
    <section>
      <h1>
        <strong>Mais acessadas</strong>
      </h1>
      <div class="contents">
        {% for item in recipes %}

        <div class="content_recipe" id="{{ item.id }}">
          <div class="image_recipe">
            {% for image in images %} {% if item.id == image.recipe_id %}
            <img src="{{ image.src }}" alt="{{ image.name }}" />
            {% endif %} {% endfor %}
          </div>
          <div class="info_content">
            <p class="info_title">{{ item.title }}</p>
            {% for chef in options %} {% if chef.id == item.chef_id %}
            <p class="sub_title">{{ chef.name }}</p>
            {% endif %} {% endfor %}
          </div>
        </div>

        {% endfor %}
      </div>
    </section>
  </main>
</div>
<script src="../scripts.js"></script>
{% endblock content %}
