<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}
            <title>Foodfy</title>
        {% endblock head %}
        <link rel="stylesheet" href="../styles/global.css">
        <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    </head>
    <body>
        <nav class="menu">
            <a href="/index" class="links">
                <h1 class="title" class="links">Foodfy</h1>
            </a>
                <div class="option">
                <a href="/about"  class="links">Sobre</a>
                <a href="/recipes" class="links">Receitas</a>
                <a href="/chefs" class="links">Chefs</a>
              </div>
    
        </nav>
        {% block content %}
        {% endblock content %}
        <footer>
            <p>Todos direitos reservados, receitas Foodfy</p>
        </footer>
    <script src="../../scripts.js"></script>
    </body>
</html>