<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block header %}
    <title>Admin foodfy</title>
    {% endblock header %}
    <link rel="stylesheet" href="../../../styles/admin.css">
    <link rel="stylesheet" href="../../../styles/users.css">
    <link rel="stylesheet" href="../../../styles/message.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo admin">
            <a href="/admin" class="links">
            <img src="../../../assets/logowhite.png" alt="logo">
            </a>
        </div>
        <div class="box-links">
            <a href="/admin/recipes" class="links">
            receitas
            </a>
            <a href="/admin/chefs" class="links">
            chefs
            </a>
            <a href="/admin/users" class="links">
            usuários
            </a>
            
        </div>
        
        <form action="/admin/logout" method="post" class="login">
            <button type="submit" class="login" style="background-color:transparent;">SAIR</button>
            </form>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <script src="../../../scripts.js"></script>
</body>
</html>