
.card-chef img{
    width:64px;
    height:64px;
    border-radius: 50%;
}
.card-chef{
    display: grid;
    grid-template-columns: 70px 1fr;
    align-items: center;
}
.card-chef .content-card .qtd-recipes{
    color: #666666;
}
.cards-chef{
    margin: 0 auto;
    max-width:800px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.cards-chef.admin{
    margin: 2% auto 0 6% !important;
}
.card.chef{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card.chef img{
    
    max-width: 80px;
    border-radius: 50% !important;
}
.card-chef .link a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #6558C3;
}
/* SHOW PAGE */
.show{
    padding:0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% 21%;
    flex-wrap: wrap;
}
.info.chef  div:first-child{
    max-width: 22%;
    padding: 10% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

}
.info.chef  div:first-child h1{
    white-space: nowrap;
}
.info.chef   div:first-child img {
    width: 200px;
    height: 200px;
    border-radius: 50% !important;
    margin: auto !important;
    object-fit: cover;
}

/*  USERS CHEFS  */

.cards.chef.index{
    width: 30% !important;
    margin: 2% 28% 30%;
}
.content-card{
    white-space: nowrap;
}


/* SHOW cards */

.cards-show{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cards-show .card .image img{
    max-width:172px !important;
    max-height:80px;
    border-radius: 0 !important; 
    object-fit:none;
}