.message{
    position: absolute;
    right: 1%;

    width: 18vw;
    height: 10vh;

    display: flex;
    justify-content:center;
    align-items:center;

    color:white;

    font-size: 1.1rem;
    font-weight:400;

    text-align: center;
    padding: 1%;
    
    opacity: 1;
    animation: hidemessage 400ms 5s ease-out forwards;
}
.message.error{
    background-color:#DC4747;
}

.message.success{
    background-color:#01B12A;
}

@keyframes hidemessage{
    10%{
        right: -10vw;
        opacity:0.5;
    }
    50%{
        right: -10vw;
        opacity: 0.2;
    }
    100%{
        right:10px;
        opacity: 0;
    }
}