
.contents_recipes{
    width:60%;
    height:57vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 26px 20px;
    margin: 2% auto;
}
.content_recipe{
    width: 300px;
    height: 200px;
    cursor: pointer;
}
section .search-name{
    margin-left: 20%;
}
.content_recipe .image_recipe img{
   border-radius:15px;
   max-width: 300px;
   max-height: 180px;
   width: 100%;
   height: 100%;
   
   object-fit: cover;
}
.modal .info_recipe p,
.info_content .sub_title{
    font-size: 12px;
    color: #777777;
}


/* === MODAL === */
.modalRecipes{
    position:fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    visibility: visible;
    opacity: 1;
}
.modal{
    width: 660px;
    height: 413px;
    border-radius: 16px;
    background-color: white;
    margin:30vh auto;
    text-align: center;
    position: relative;
}
.modal .image_recipe img{
    width: 600px;
    height: 200px;
    border-radius: 16px;
    margin: 5vh 4vh auto 4vh;
}
.modal .info_recipe h1{
    font-size: 24px;
}
.modal .close_modal{
    cursor: pointer;
    margin: 10vh auto;
    color: #777777;
}

/* === MODAL HIDE */
.modalRecipes.hide{
    visibility: hidden;
    opacity: 0;
}