{% extends 'admin/layout.njk' %}
{% block content %}
<form action="/admin/recipes?_method=PUT" method="post" id="form-edit" enctype="multipart/form-data">
<div class="edit">
    
    <div class="header">
        <h1>Editando receita</h1>
        <div class="buttons">
        <button type="button" id="button-delete" class="button delete check">Deletar</button>   
        <button type="submit" class="button check recipe">Salvar Receita</button> 
        </div>
        
        
    </div>
    <div class="form"> 
        {% include 'admin/recipes/fields.njk'%}
    </div>
    <input type="hidden" name="id" value="{{recipe.id}}">
    <input type="hidden" name="removed_files">
</div>
</form>
        <form action="/admin/recipes?_method=DELETE" method="post" class="form-delete" style="display:none;">
        <input type="hidden" name="id" value="{{recipe.id}}">
        {% for file in files %}
        <input type="hidden" name="files" value="{{file.id}}">
        {% endfor %}
        <button type="submit" class="button delete check">Deletar</button>   
        </form>
{% endblock content %}