<div class="item image">
    <div class="title">Imagem da receita</div>
    <div class="content-images">
        <div id="photos-upload">
            <input 
            type="file"
            name="image"
            multiple
            accept="image/*"
            onchange="PhotosUpload.handleFileInput(event)"
            >
        </div>
        <div id="photos-preview-add"><i class="material-icons">add</i></div>
        <div id="photos-preview">
             {% if files.length %}
        {% for image in files %}
        <div class="photo" id="{{image.id}}">
            <img src="{{image.src}}" alt="{{image.name}}">
            <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">close</i>
        </div>
        {% endfor %}
        {% endif %}
        </div>
       <input type="hidden" name="removed_files">
    </div>
</div>
<div class="item">
    <div class="title">Nome da receita</div>
    <input type="text" name="title" value="{{recipe.title}}">
</div>
<div class="item">
    <div class="title">Autor receita</div>
        <select name="chef_id">
            {% for option in options %}
            <option 
                value="{{option.id}}" 
                {% if option.id == recipe.chef_id %}
                selected
                {% endif %}
            >
            {{option.name}}
            </option>
            {% endfor %}
            </select>
</div>
<div class="item">
    <div class="title">Ingredientes</div>
    <div id="ingredient" class="column">
    {% for ingredients in recipe.ingredients %}    
        <input  class="ingredient" type="text" name="ingredients" value="{{ingredients}}">
    {% endfor %}
    {% if recipe.ingredients.length == undefined %}
        <input  class="ingredient" type="text" name="ingredients" value="{{ingredients}}">
    {% endif %}
    </div>
    <p id="addIngredient" class="add">Adicionar novo ingrediente</p>
</div>
<div class="item">
    <div class="title">Modo de prepararo</div>
    <div class="steps column">
    {% for pass in recipe.preparations %}
    <input  class="pass" type="text" name="preparations" value="{{pass}}">
    {% endfor %}
    {% if recipe.preparations  == undefined %}
    <input  class="pass" type="text" name="preparations" value="{{preparations}}">
    {% endif %}
    </div>
    <p id="addPass" class="add">Adicionar novo passo</p>
</div>

<div class="item">
    <div class="title">Informações adicionais</div>
    <textarea name="information" cols="30" rows="10" class="big input">{{recipe.information}}</textarea>
</div>
