<div class="item">
    <div class="title">Imagem da receita</div>
    <input type="text" name="recipe_image" value="{{recipe.recipe_image}}">
</div>
<div class="item">
    <div class="title">Nome da receita</div>
    <input type="text" name="name" value="{{recipe.name}}">
</div>
<div class="item">
    <div class="title">Autor receita</div>
    <input type="text" name="author" value="{{recipe.author}}">
</div>
<div class="item">
    <div class="title">Ingredientes</div>
    <div id="ingredient" class="column">
    {% for ingredient in recipe.ingredient %}    
        <input  class="ingredient" type="text" name="ingredient" value="{{ingredient}}">
    {% endfor %}
    {% if recipe.ingredient == null %}
        <input  class="ingredient" type="text" name="ingredient" value="{{ingredient}}">
    {% endif %}
    </div>
    <p id="addIngredient" class="add">Adicionar novo ingrediente</p>
</div>
<div class="item">
    <div class="title">Modo de prepararo</div>
    <div class="steps column">
    {% for pass in recipe.pass %}
    <input  class="pass" type="text" name="pass" value="{{pass}}">
    {% endfor %}
    {% if recipe.pass  == null %}
    <input  class="pass" type="text" name="pass" value="{{pass}}">
    {% endif %}
    </div>
    <p id="addPass" class="add">Adicionar novo passo</p>
</div>

<div class="item">
    <div class="title">Informações adicionais</div>
    <textarea name="additional" cols="30" rows="10" class="big input">{{recipe.additional}}</textarea>
</div>
