{% extends 'admin/layout.njk' %};
{% block content %}
<div class="content">
<div class="header flex">
        <h1>Gerenciar Receitas</h1>
        <a class="button h-40" href="recipes/create">Criar Receita</a>
    </div>
<div class="cards">
    {% for recipe in recipes %}
    <div class="card">
        <div class="image">
            <img src="{{recipe.image}}" alt="{{recipe.title}}">
        </div>
        <div class="content-card">
            <div class="title">{{recipe.title}}</div>
              {% for chef in options %}
            {% if recipe.chef_id == chef.id %}
            <div class="author"><p>por {{chef.name}}</p></div>
            {% endif %}                
            {% endfor %}
            
            <div class="link">
                <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock content %}