{% extends 'admin/layout.njk' %};
{% block content %}
<div class="content">
<div class="header flex">
        <h1>Gerenciar Receitas</h1>
        <a class="button h-40" href="recipes/create">Criar Receita</a>
    </div>
<div class="cards">
    
    {% for recipe in recipes %}
    <div class="card">
        <div class="image">
            <img src="{{recipe.img}}" alt="{{recipe.img}}">
        </div>
        <div class="content-card">
            <div class="title">{{recipe.title}}</div>
            <div class="author"><p>por {{recipe.chef_create}}</p></div>
            <div class="link">
                <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
 <div class="paginate"
        data-page="{{ pagination.page }}"
        data-total="{{ pagination.total }}"
        data-filter="{{ filter }}"
    >
    </div>
</div>
{% endblock content %}