{% extends 'admin/layout.njk' %}
{% import 'parts/gallery.njk' as view %}
{% import 'parts/acessButtons.njk' as panel %}

{% block content %}
<div class="show">
{{ panel.acessButtons( recipe.title, "Editar", userVerification, recipe.id+"/edit") }}
    <div class="info">
        
        {{ view.gallery(recipe, files, chefs) }}
        
        <div class="recipe-info">
            <h2>Ingredientes</h2>
            <ul>
                {% for ingredient in recipe.ingredients %}
                <li>{{ingredient}}</li>
                {% endfor %}
                
            </ul>
        </div>
        <div class="recipe-info">
            <h2>Modo de preparo</h2>
            <ul>
               {% for pass in recipe.preparations %}
               <li>
                {{pass}}
                </li>
               {% endfor %}
                
               
            </ul>
        </div>
        <div class="recipe-info">
            <h2>Informações adicionais</h2>
            <p>{{recipe.information}}</p>
        </div>
    </div>

</div>
{% endblock content %}