{% macro acessButtons(title, buttonTitle, permission, route) %}
    <div class="header flex">
        <h1>{{title}}</h1>
        {% if permission %}
        <a class="button h-40" href="{{route}}">{{buttonTitle}}</a>
        {% else %}
        <span></span>
        {% endif %}
    </div>
{% endmacro %}